@layer base {
    /* Default text settings */
    html { @apply text-base; font-family: 'Montserrat', sans-serif; }
    h1, .h1 { @apply text-4xl sm:text-5xl font-bold; font-family: Stem, sans-serif; }
    h2, .h2 { @apply text-3xl sm:text-4xl font-bold; font-family: Stem, sans-serif; }
    h3, .h3 { @apply text-2xl sm:text-3xl; font-family: Stem, sans-serif; }
    h4, .h4 { @apply text-xl sm:text-2xl; font-family: Stem, sans-serif; }
    h5, .h5 { @apply text-xl; font-family: Stem, sans-serif }
    small, .small { @apply text-sm }
    .large { @apply text-xl }
}

.link-dashed, .link-dotted {
    @apply hover:!no-underline
}

.link-dashed {
    @apply border-b border-dashed hover:border-transparent
}

.link-dotted {
    @apply border-b border-dotted hover:border-transparent
}
