@font-face {
    font-family: 'Stem';
    src: url('fonts/Stem/Stem-Medium.eot');
    src: local('Stem Medium'), local('fonts/Stem/Stem-Medium'),
        url('fonts/Stem/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Stem/Stem-Medium.woff2') format('woff2'),
        url('fonts/Stem/Stem-Medium.woff') format('woff'),
        url('fonts/Stem/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('fonts/Stem/Stem-Bold.eot');
    src: local('Stem Bold'), local('fonts/Stem/Stem-Bold'),
        url('fonts/Stem/Stem-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Stem/Stem-Bold.woff2') format('woff2'),
        url('fonts/Stem/Stem-Bold.woff') format('woff'),
        url('fonts/Stem/Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
